<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Sign In</h2>

    <!-- Icon -->
    <!-- <div class="fadeIn first">
      <img
        src="http://danielzawadzki.com/codepen/01/icon.svg"
        id="icon"
        alt="User Icon"
      />
    </div> -->

    <!-- Login Form -->
    <form>
      <input
        type="email"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="email"
        (keyup)="EmailonKey($event)"
        required
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
        (keyup)="PasswordonKey($event)"
        required
      />
    </form>
    <ngb-alert *ngIf="onError" type="danger" (closed)="close()"
      >Somthing went wrong...</ngb-alert
    >
    <button (click)="onLoginlick()" class="fadeIn fourth" id="loginbtn">
      Log In
    </button>
  </div>
</div>
