<app-login [isLoggedIn]="verifyAdmin" *ngIf="!isAuthorized"></app-login>
<div *ngIf="isAuthorized">
  <!-- Top container -->
  <app-user-counter></app-user-counter>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div
    class="w3-overlay w3-hide-large w3-animate-opacity"
    onclick="w3_close()"
    style="cursor: pointer"
    title="close side menu"
    id="myOverlay"
  ></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-top: 43px">
    <!-- Header -->
    <header class="w3-container" style="padding-top: 22px">
      <h5>
        <b><i class="fa fa-dashboard"></i> My Dashboard</b>
      </h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter" (click)="myFunction('postsDiv')">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3></h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Posts</h4>
        </div>
      </div>
      <div class="w3-quarter" (click)="myFunction('commentsDiv')">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
          <div class="w3-right"></div>
          <div class="w3-clear"></div>
          <h4>Reviews</h4>
        </div>
      </div>
      <div class="w3-quarter" (click)="myFunction('tagsDiv')">
        <div class="w3-container w3-green w3-padding-16">
          <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
          <div class="w3-right"></div>
          <div class="w3-clear"></div>
          <h4>Tags</h4>
        </div>
      </div>
      <div class="w3-quarter" (click)="myFunction('usersDiv')">
        <div class="w3-container w3-yellow w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right"></div>
          <div class="w3-clear"></div>
          <h4>Users</h4>
        </div>
      </div>
    </div>

    <!-- post div -->
    <div
      id="postsDiv"
      style="
        height: 330px;
        width: 97.5%;
        display: none;
        margin-right: auto;
        margin-left: auto;
        background-color: red;
        overflow: scroll;
      "
    >
      <div id="search-box-div">
        <div id="search-field">
          <input
            type="text"
            placeholder="Filter"
            style="width: 100%"
            [(ngModel)]="searchText"
          />
        </div>
      </div>
      <ul
        class="w3-ul w3-card-4"
        *ngFor="let post of myPosts | filter: searchText"
      >
        <app-list-item [post]="post"></app-list-item>
      </ul>
    </div>

    <!-- comments div -->
    <div
      id="commentsDiv"
      style="
        height: 330px;
        width: 97.5%;
        background-color: blue;
        display: none;
        margin-right: auto;
        margin-left: auto;
        overflow: scroll;
      "
    >
      <div id="search-box-div">
        <div id="search-field">
          <input
            type="text"
            placeholder="Filter"
            style="width: 100%"
            [(ngModel)]="searchText"
          />
        </div>
      </div>
      <ul
        class="w3-ul w3-card-4"
        *ngFor="let comment of myComments | filter: searchText"
      >
        <app-list-comment [comment]="comment"></app-list-comment>
      </ul>
    </div>

    <!-- tags div -->
    <div
      id="tagsDiv"
      style="
        height: 330px;
        width: 97.5%;
        background-color: green;
        display: none;
        margin-right: auto;
        margin-left: auto;
        overflow: scroll;
      "
    >
      <div id="search-box-div">
        <div id="search-field">
          <input
            type="text"
            placeholder="Filter"
            style="width: 100%"
            [(ngModel)]="searchText"
          />
        </div>
      </div>
      <ul
        class="w3-ul w3-card-4"
        *ngFor="let tag of myTags | filter: searchText"
      >
        <app-list-tag [tag]="tag"></app-list-tag>
      </ul>
    </div>

    <!-- users div -->
    <div
      id="usersDiv"
      style="
        height: 330px;
        width: 97.5%;
        background-color: yellow;
        display: none;
        margin-right: auto;
        margin-left: auto;
        overflow: scroll;
      "
    >
      <div id="search-box-div">
        <div id="search-field">
          <input
            type="text"
            placeholder="Filter"
            style="width: 100%"
            [(ngModel)]="searchText"
          />
        </div>
      </div>
      <ul
        class="w3-ul w3-card-4"
        *ngFor="let user of myUser | filter: searchText"
      >
        <app-list-user [user]="user"></app-list-user>
      </ul>
    </div>
    <hr />

    <div class="w3-container">
      <h5>Top Tags</h5>
      <table
        class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
      >
        <ul *ngFor="let item of orderedTags | slice: 0:5; let i = index">
          <app-precent-tag *ngIf="item !== 0" [item]="item"></app-precent-tag>
        </ul>
      </table>
      <br />
    </div>
    <hr />
    <div class="w3-container">
      <h5>Recent Users</h5>
      <ul
        class="w3-ul w3-card-4 w3-white"
        *ngFor="let user of orderedUsers | slice: 0:5"
      >
        <li class="w3-padding-16">
          <img
            src="{{ user.image }}"
            class="w3-left w3-circle w3-margin-right"
            style="width: 35px"
          />
          <span class="w3-xlarge">{{ user.email }}</span
          ><br />
        </li>
      </ul>
    </div>
    <hr />

    <div class="w3-container">
      <h5>Recent Comments</h5>
      <div *ngFor="let comment of orderedComments | slice: 0:3">
        <app-recent-comment
          [comment]="comment.comment"
          [authorName]="comment.authorName"
          [authorImage]="comment.imageUrl"
        >
        </app-recent-comment>
      </div>
    </div>
    <br />

    <!----D3 - Graph--->

    <app-d3-graph></app-d3-graph>
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
      <h4>FOOTER</h4>
      <p>
        Powered by Hen Baliti Yariv Menachem Afik Menashe
        <!-- <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
        >w3.css</a
      > -->
      </p>
    </footer>

    <!-- End page content -->
  </div>
</div>
