<h2>D3 Chart</h2>
<button (click)="onTagClick()">Tags</button>
<button (click)="onUserClick()">Users</button>

<tag-graph *ngIf="hideTagsGraph"></tag-graph>
<user-graph *ngIf="hideUsersGraph"></user-graph>
