<div class="w3-row">
    <div class="w3-col m2 text-center">
      <img
        class="w3-circle"
        [src]="authorImage"
        style="width: 96px; height: 96px"
      />
    </div>
    <div class="w3-col m10 w3-container">
      <h4>
        {{authorName}} <span class="w3-opacity w3-medium">{{comment.published}}</span>
      </h4>
      <p>
        {{comment.body}}
      </p>
      <br />
    </div>
  </div>